<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Кодировка веб-страницы -->
        <meta charset="utf-8">
        <!-- Настройка viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <!-- Подключаем Bootstrap CSS -->
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; 
            }
        </style>
    </head>
    <body>
        <h1>Labore sit esse adipisicing Lorem.</h1>
        <p>Ex veniam minim consectetur id eiusmod nulla amet id et anim aliqua duis mollit occaecat. Deserunt aliquip aute mollit dolore magna aute labore elit dolore ex quis elit elit Lorem. Cupidatat incididunt labore sint nostrud irure et. Est ea mollit sunt id culpa do magna eiusmod. Officia deserunt ad velit magna nisi magna elit. Officia duis ad cillum esse amet incididunt veniam ut dolore. Do sint ea dolore duis id cupidatat deserunt irure pariatur est.</p>


        
        <!-- JS подключаем в коеце, для более быстрой загрузки -->
        <!-- Подключаем jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Подключаем Bootstrap JS -->    
        <script src="{{STATIC_URL}}js/bootstrap.js" type="text/javascript">
    </body>
</html>